 @font-face {
     font-family: 'Mukta';
     src: url(/fonts/Mukta-ExtraLight.ttf)format('truetype');
 }

  /*  reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
/*     header pc    */

.header-background{
    display: flex;
    justify-content: center;
    height: 90vh; 
}
.Kylo-Ren{
    display: flex;
    position: absolute;
    top: 7vh;
    left: 12vw;
    height: 40em;
}
.titulo{
   display: flex;
   position: absolute;
   top: 49vh;
   left: 17rem;
   height: 4.6em;
}
.titulo2{
   display: flex;
   position: absolute;
   top: 49vh;
   left: 51.5rem;
   height: 4.6em;
} 
.box { 
    position: absolute;
    top: 70vh;
    left: 75vw;
}
.box p{
    font-size: 1.2em;
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.linha{
    height: 0.2em;
    width: 8vw;
    background-color: #000000;
    position: absolute;
    top: 33.6em;
    left: 64rem;
}
.numbers{
    display: flex;
    position: absolute;
    top: 34.4em;
    left: 63.9rem;
}
.numbers p{
    font-family: 'Mukta';
}
.numbers span{
    font-size: 1.4em;
    position: relative;    
    left: 0.1em;
    font-family: 'Mukta';
}
a{
   position: relative;
   top: 0.4em;
   left: 0.4em;
}
.sidebutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0.8em;
    height: 0.7rem;
    font: 'Mukta', sans-serif;
    color: #000;
    background-color: #9fb6ca;
    margin: 0.1em;
    padding: 0.5rem;
} 
.red-box img{
    height: 63vh;
    width: 20vw;
    position: absolute;
    top: 33.3em;
    left: 13.9rem;
}
.robot-image img{
    height: 173vh;  
}
.linha2{
    height: 0.2em;
    width: 73vw;
    background-color: #696969;
    position: absolute;
    top: 158vh;
    left: 13.8rem;
}
 /*  começo da main    */                    

.battlefront{
    position: absolute;
    top: 110vh;
    left: 58.2rem;
}
.battlefront img{
    height: 26vh;
}
.sobre-o-jogo {
    display: flex;
    position: absolute;
    top: 107vh;
    left: 58vw;
}
.sobre-o-jogo strong{
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: 'Mukta', Arial, sans-serif;
    font-weight: bold;
}
.linha3{
    height: 0.4%;
    width: 7vw;
    background-color: #1C1C1C;
    position: absolute;
    top: 113vh;
    left: 60vw;
}
.homem-vermelho{
    position: absolute;
    top: 170vh;
    left: 16vw;
}
.homem-vermelho img{
    height: 91vh;
}
.sobre{
    display: block;
    position: absolute;
    top: 115vh;
    left: 47vw;
}
.sobre p{
    width:21vw;
    font-size: 0.9rem;
    font-family: 'Mukta', sans-serif, Arial;
    font-weight: 300;
}
 /*    início do conteúdo   */ 

 .retangulo{
     position: absolute;
     top: 256vh;
 }
